﻿<div class="col-md-12">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Legend</legend>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Accident History</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="5" id="textArea"></textarea>
                        <span class="help-block">Enter full history of the accident here</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
    </div>
