﻿<div class="col-md-12">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Your Detail</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="titleId">
                            <option value="1">Mr</option>
                            <option value="2">Ms</option>
                            <option value="3">Mrs</option>
                            <option value="4">Dr</option>
                            <option value="5">Prof</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">FirstName</label>
                    <div class="col-lg-10">
                        <input type="text"ng-model="firstName" class="form-control" id="accident.firstName" placeholder="Firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">LastName</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="firstName" class="form-control" id="accident.lastName" placeholder="LastName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ui-sref="accident.detail">Next</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>
</div>
