﻿<div class="col-md-12">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" ui-sref="accident.category">Report New</a>
                    </span>
                    <input id="searchtxt" name="searchtxt" type="text" class="form-control" style="max-width:unset !important">
                    <span class="input-group-btn">
                        <button id="searchClient" name="search" class="btn btn-primary" type="button">
                            Search
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>